 <!DOCTYPE html>
<html lang="en">
<head>
	<title>{{config.cart_title}} - {{title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="description" content="Powered by Dirbis">
	<meta name="keywords" content="ExpressCart">
	{{!-- css --}}
	{{>layout-css}}
	{{!-- js --}}
{{>layout-js}}
	
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

</style>
</head>
{{!-- <body class="{{show_footer}} main-content">
	<!-- Static navbar -->
	<div id="toolbar">
		<div class="container hs-100px">
			<div class="logo-icon"></div>
			<div class="toolbox">
				<div class="row">
					<div class="col-md-4" >Download | Bantuan | Follow Us 
						<i class="fa fa-google-plus" aria-hidden="true">
						</i>&nbsp;<i class="fa fa-facebook" aria-hidden="true"></i> </div>
					<div class="col-md-4;" style="float: right; margin-right: 30px">
						<i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
					</div>
				</div>
				<div class="row">
					{{>toolbar-searchbox}}
					{{>profile-icon}}
				</div>
			</div>
		</div>
	</div>  --}}
{{!-- 	
	<div id="content" class="container-fluid" style=" padding-top: 0; height: 100%">
		<p></p>
		{{{body}}}
	</div>
	<input type="hidden" id="input_notify_message" value="{{message}}">
	<input type="hidden" id="input_notify_message_type" value="{{message_type}}">
	<div id="notify_message"></div> --}}
	{{!-- {{>chatbox}} --}}
	{{!-- {{#if show_footer}}
	<footer class="footer">
		<div class="container">
			<p class="text-muted">Powered by Dirbis</p>
		</div>
	</footer>
	{{/if}} --}}
	

 
 {{!-- <script src="//jsbin-files.ably.io/js/jquery-1.8.3.min.js"></script>  --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.debug.js"></script> --}}

{{!-- <script>

</script>	
<script src="https://apis.google.com/js/client:platform.js?onload=startApp"></script>
	{{>checkout-modal}}
</body> --}}

<body class="{{show_footer}}" style="background-color:#e6ecf0;">

	<!-- Navbar -->
	<div class="w3-top" style="z-index: 3;" id="navs">
		{{>navigation}}
	</div>

	<!-- Header -->
	<header class="w3-container" style="padding:128px 16px; padding-bottom: 0">
		<div id="content" class="container-fluid" style=" padding-top: 10px; height: 100%; color: black; background-color: #e6ecf0">
			{{{body}}}
		</div>
	</header>


	<script>
	// Used to toggle the menu on small screens when clicking on the menu button
	function myFunction() {
		var x = document.getElementById("navDemo");
		if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
		} else { 
			x.className = x.className.replace(" w3-show", "");
		}
	}
	</script>
{{>checkout-modal}}
{{>chats}}
</body>
<script src="/javascripts/vendor/knockout.js"></script>


</html> 

<div hidden id="temp"></div>
