<div style="background-color: white; width: 100%; padding-bottom: 20px">
<br>
<div class="container">
   <div class="row" >
        <div class="col-md-8" style="padding: 0">
            <div id="carousel-id" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                      {{!-- {{#each data}}
                        {{#if @first}}
                            <li data-target="#carousel-id" data-slide-to="{{@index}}" 
                            class="active" style="background-color: 	#C8C8C8"></li>
                        {{else}}
                            <li data-target="#carousel-id" data-slide-to="{{@index}}" class="" style="background-color: 	#C8C8C8"></li>
                        {{/if}}
                      {{/each}} --}}

                      <li data-target="#carousel-id" data-slide-to="{{@index}}" 
                            class="active" style="background-color: 	#C8C8C8"></li>
                       <li data-target="#carousel-id" data-slide-to="{{@index}}" 
                             style="background-color: 	#C8C8C8"></li>
                        <li data-target="#carousel-id" data-slide-to="{{@index}}" 
                             style="background-color: 	#C8C8C8"></li>
                        <li data-target="#carousel-id" data-slide-to="{{@index}}" 
                            style="background-color: 	#C8C8C8"></li>
                        <li data-target="#carousel-id" data-slide-to="{{@index}}" 
                            style="background-color: 	#C8C8C8"></li>
                         
                </ol>
                <div class="carousel-inner" style="height: 200px">
                    {{!-- {{#each data}}
                        {{#if @first}}
                            <div class="item active" style="height: 100%">
                                <img data-src="{{this.image}}" src="{{this.image}}" style="background-repeat: round; height: 100%">
                            </div>
                        {{else}}
                            <div class="item" style="height: 100%">
                                <img data-src="{{this.image}}" src="{{this.image}}" style="background-repeat: round; height: 100%">
                            </div>
                        {{/if}}
                    {{/each}} --}}
                 <img data-src="" src="/img/asus-laptop.jpg" style="background-repeat: round; height: 100%"> 
                   <img data-src="" src="/dirbis.png" style="background-repeat: round; height: 100%"> 
                     <img data-src="/dirbis" src="/dirbis.png" style="background-repeat: round; height: 100%"> 
                       <img data-src="/dirbis" src="/dirbis.png" style="background-repeat: round; height: 100%"> 
                         <img data-src="/dirbis" src="/dirbis.png" style="background-repeat: round; height: 100%"> 
                </div>
            </div>
        </div>
        <div class="col-md-4" style="height: 200px">
            <div class="row" style="padding-left: 3px; height: 49.6%">
                <img src="/ads-laptop.jpg" alt="" style="height: 100%; background-repeat: round">
            </div>
            <div style="height: 0.8%"></div>
            <div class="row" style="padding-left: 3px; height: 49.6%">
                <img src="/ads-laptop.jpg" alt="" style="height: 100%">
            </div>
        </div>
    </div>
    <div style="height: 5px"></div>
    <div class="row">
        <div class="page-header" style="padding: 0; margin: 0">
          <h3><small><strong>PENCARIAN POPULER</strong> </small></h3>
        </div>
    </div>
    <div style="height: 5px"></div>
    <div class="row">
        <div class="col-md-1">
            <img src="/img/Mi-Notebook.jpg" alt="" style="width: 100%">
        </div>
        <div class="col-md-1">
            <img src="/img/asus-laptop.jpg" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/img/mac.png" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/img/lenovo-laptop.jpg" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/img/msi-laptop.jpg" alt="" style="width: 100%">
        </div>
        
        <div class="col-md-1">
            <img src="/img/Mi-Notebook.jpg" alt="" style="width: 100%">
        </div>
        <div class="col-md-1">
            <img src="/img/asus-laptop.jpg" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/img/mac.png" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/img/lenovo-laptop.jpg" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/img/msi-laptop.jpg" alt="" style="width: 100%">
        </div>
        <div class="col-md-1">
            <img src="/img/msi-laptop.jpg" alt="" style="width: 100%">
        </div>
        <div class="col-md-1">
            <img src="/img/msi-laptop.jpg" alt="" style="width: 100%">
        </div>
        
        
        {{!-- <div class="col-md-1">
            <img src="/dirbis.png" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/dirbis.png" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/dirbis.png" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/dirbis.png" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/dirbis.png" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/dirbis.png" alt="" style="width: 100%">
        </div><div class="col-md-1">
            <img src="/dirbis.png" alt="" style="width: 100%">
    </div> --}}
</div>
</div>
</div>
<br>
<header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>UKM Terlaris</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16"></div>
    </div>
  </header>
<div class="container" style="padding-left: 4%">
     
    <div class="row">
        <div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                    <img src="/uploads/company/dsf.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                      <img src="/uploads/company/finel.jpg" alt="">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                     <img src="/uploads/company/delta.png" alt="">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                     <img src="/uploads/company/mas.jpg" alt="">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                     <img src="/uploads/company/mjn.jpg" alt="">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                    <img src="/uploads/company/netsindo.jpg" alt="">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                     <img src="/uploads/company/sistekcom.png" alt="">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption" style="height: 100%">
                     <img src="/uploads/company/listindo.jpg" alt="" style="background-repeat: round; height: 100%">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                      <img src="/uploads/company/sk.jpg" alt="" style="background-repeat: round; height: 100%">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                     <img src="/uploads/company/sk.jpg" alt="" style="background-repeat: round;">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                     <img src="/uploads/company/sk.jpg" alt="" style="background-repeat: round;">
                </div>
            </div>
        </div><div class="col-xs-3" style="padding-left: 0;padding-right: 0; height: 120px; width: 180px">
            <div class="thumbnail" style="height: 100%; min-height: 0; min-width: 0; width: 100%">
                <img data-src="#" alt="">
                <div class="caption">
                     <img src="/uploads/company/sk.jpg" alt="" style="background-repeat: round;">
                </div>
            </div>
        </div>  
        
    </div></div>



<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" 
title="close side menu" id="myOverlay"></div>
<div class="w3-section w3-bottombar w3-padding-16"></div>
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:10px">

  <!-- Header -->
  <header id="portfolio">
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Produk Terlaris</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16"></div>
    </div>
  </header>
  
  <!-- First Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/img/acer-laptop.jpg" alt="Norway" style="width:100%" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/img/msi-laptop.jpg" alt="Norway" style="width:100%; height: 250px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/img/lenovo-laptop.jpg" alt="Norway" style="width:100%; height: 250px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding">
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/img/mac.png" alt="Norway" style="width:100%; height: 250px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container w3-margin-bottom">
      <img src="/img/asus-laptop.jpg" alt="Norway" style="width:100%; height: 250px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
    <div class="w3-third w3-container">
      <img src="/img/Mi-Notebook.jpg" alt="Norway" style="width:100%; height: 250px" class="w3-hover-opacity">
      <div class="w3-container w3-white">
        <p><b>Lorem Ipsum</b></p>
        <p>Praesent tincidunt sed tellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.</p>
      </div>
    </div>
  </div>
<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>